<html>
        <head>
            <title>RideShare</title>
        </head>
        <body>
            Made it to the landing page
            <hr />
            <a href="/login">Login</a>
            <hr />
            <a href="/logout">Logout</a>
            <hr />
            <a href="/register">Register</a>
        </body>
</html>
