<html>
        <head>
            <title>RideShare Login</title>
        </head>
        <body>
            Made it to the login page
            <hr />
            <form action="/login" method="POST">
                <input type="text" name="username" placeholder="username">
                <input type="password" name="password" placeholder="password">
                <button>Login!</button>
            </form>
        </body>
</html>
