<html>
        <head>
            <title>RideShare Register</title>
        </head>
        <body>
            Made it to the registration page
            <hr />
            <form action="/register" method="POST">
                <input type="text" name="username" placeholder="username">
                <input type="text" name="password" placeholder="password">
                <button>Sign Up!</button>
            </form>
        </body>
</html>
