.App {
  text-align: center;
}

#title-editable {
  margin: 0;
}

/* leaflet control declarations */
.leaflet-routing-alt {
  display: none;
}
.geocoders-container {
  background: blue;
}
.leaflet-right {
  right: 20px;
}
